<div class="row-shipping">
    <div class="title">
        <p>Hàng đang vận chuyển</p>
    </div>
    <div class="shipping">
        <div class="row-shipping" *ngFor="let item of [].constructor(7)">
            <div class="row-information">
                <div class="avatar-product">
                    <img src="../../../assets/samsung.png" alt="">
                </div>
                <div class="product-information">
                    <div class="product-name">
                        <p>Điện thoại Iphone 15 516gb</p>
                    </div>
                    <div class="type">
                        <p>Thân loại:</p>
                        <p>Trắng<span>,</span></p>
                        <p>516<span>gb,</span></p>
                        <p>1</p>
                        
                    </div>
                    <div class="product-information">
                        <div class="content">
                            <p>Đơn hàng #jdhsye24h345ttes của bạn đã được xác nhận thành công</p>
                        </div>
                        <div class="date">
                            <p>17/02/2025</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row-paying">
                <div class="row-price">
                    <p>Thành tiền: <span>197000 <span>đ</span></span></p>
                </div>
            </div>

            <div class="row-paying-detail">
                <div class="button">
                    <p>Xem chi tiết đơn hàng</p>
                </div>
            </div>

        </div>
    
    </div>
    <div class="button-more">
        <div class="button">
            <p>Xem thêm</p>
        </div>
    </div>
</div>