@import '../../../SCSS/mimins3';
@import '../../../SCSS/variables';

@media only screen and (max-width: 576px) {
  .navbar-container{
    height: 70px;

    
    background-color: $turquoise-600;

    display: flex;
    justify-content: center;
    &>.container{
      height: 70px;

      width: 1024px;

      margin-right: 10px;
      display: flex;
      align-items: center;
  
      &>.logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        cursor: pointer;
      }
      &>.search{
        width: 65%;
        &>.row-search{
          height: 30px;
          background-color: #ffff;
          border-radius: 2rem;
  
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          padding: 0.3rem 0.5rem 0.3rem 1rem;
          &>input{
            outline: none;
            border: none;
  
            width: 93%;
            height: 2rem;
            
            @include text-16-regular;
            color: $gray-500;
          }
          &>svg{
            &>path{
              fill: $blue-1;
  
            }
  
          }
          &>svg:hover{
            cursor: pointer;
            &>path{
              fill: $orange-600;
  
            }
  
          }
  
        }
      }
      &>.cart{
        width: 12.5%;
        height: 100%;

        @include flex-al-ju;
        &>.box-cart{
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 2rem;
          width: 2rem;
          
          &>svg{
            &>path{
              fill: #ffff;
  
            }
  
          }
          &>svg:hover{
            cursor: pointer;
            &>path{
              fill: $orange-600;
  
            }
  
          }
  
          &>.quantity{
            position: absolute;
            top: 0%;
            left: 60%;
  
            height: 15px;
            width: 15px;
  
            display: flex;
            align-items: center;
            justify-content: center;
  
            background-color: #fff;
  
            border-radius: 50%;
  
            &>p{
              font-size: 12px;
              color: #EE0000;
              font-weight: 600;
            }
          }
        }
  
  
      }
      &>.authentication{
        width: 12.5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

  
        &>.avatar{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

          &>.frame{
            position: absolute;
          }
        }
        &>.authen{
          display: flex;
          column-gap: 0.2rem;
  
          &>p{
            @include text-14-bold;

            font-weight: 550;
  
            color: #ffff;
          }
          &>p:hover{
            color: $orange-600;
            cursor: pointer;
          }
        }
  
  
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar-container{
    height: 70px;

    
    background-color: $turquoise-600;

    display: flex;
    justify-content: center;
    &>.container{
      height: 70px;

      width: 1024px;

      margin-right: 10px;
      display: flex;
      align-items: center;
  
      &>.logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        cursor: pointer;
      }
      &>.search{
        width: 65%;
        &>.row-search{
          height: 30px;
          background-color: #ffff;
          border-radius: 2rem;
  
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          padding: 0.3rem 0.5rem 0.3rem 1rem;
          &>input{
            outline: none;
            border: none;
  
            width: 93%;
            height: 2rem;
            
            @include text-16-regular;
            color: $gray-500;
          }
          &>svg{
            &>path{
              fill: $blue-1;
  
            }
  
          }
          &>svg:hover{
            cursor: pointer;
            &>path{
              fill: $orange-600;
  
            }
  
          }
  
        }
      }
      &>.cart{
        width: 12.5%;
        height: 100%;

        @include flex-al-ju;
        &>.box-cart{
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 2rem;
          width: 2rem;
          
          &>svg{
            &>path{
              fill: #ffff;
  
            }
  
          }
          &>svg:hover{
            cursor: pointer;
            &>path{
              fill: $orange-600;
  
            }
  
          }
  
          &>.quantity{
            position: absolute;
            top: 0%;
            left: 60%;
  
            height: 15px;
            width: 15px;
  
            display: flex;
            align-items: center;
            justify-content: center;
  
            background-color: #fff;
  
            border-radius: 50%;
  
            &>p{
              font-size: 12px;
              color: #EE0000;
              font-weight: 600;
            }
          }
        }
  
  
      }
      &>.authentication{
        width: 12.5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

  
        &>.avatar{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

          &>.frame{
            position: absolute;
          }
        }
        &>.authen{
          display: flex;
          column-gap: 0.2rem;
  
          &>p{
            @include text-14-bold;

            font-weight: 550;
  
            color: #ffff;
          }
          &>p:hover{
            color: $orange-600;
            cursor: pointer;
          }
        }
  
  
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-container{
    height: 70px;
    width: 100%;
    
    background-color: $turquoise-600;

    display: flex;
    justify-content: center;
    &>.container{
      height: 70px;

      width: 1024px;

      margin-right: 10px;
      display: flex;
      align-items: center;
  
      &>.logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        cursor: pointer;
      }
      &>.search{
        width: 65%;
        &>.row-search{
          height: 30px;
          background-color: #ffff;
          border-radius: 2rem;
  
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          padding: 0.3rem 0.5rem 0.3rem 1rem;
          &>input{
            outline: none;
            border: none;
  
            width: 93%;
            height: 2rem;
            
            @include text-16-regular;
            color: $gray-500;
          }
          &>svg{
            &>path{
              fill: $blue-1;
  
            }
  
          }
          &>svg:hover{
            cursor: pointer;
            &>path{
              fill: $orange-600;
  
            }
  
          }
  
        }
      }
      &>.cart{
        width: 12.5%;
        height: 100%;

        @include flex-al-ju;
        &>.box-cart{
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 2rem;
          width: 2rem;
          
          &>svg{
            &>path{
              fill: #ffff;
  
            }
  
          }
          &>svg:hover{
            cursor: pointer;
            &>path{
              fill: $orange-600;
  
            }
  
          }
  
          &>.quantity{
            position: absolute;
            top: 0%;
            left: 60%;
  
            height: 15px;
            width: 15px;
  
            display: flex;
            align-items: center;
            justify-content: center;
  
            background-color: #fff;
  
            border-radius: 50%;
  
            &>p{
              font-size: 12px;
              color: #EE0000;
              font-weight: 600;
            }
          }
        }
  
  
      }
      &>.authentication{
        width: 12.5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

  
        &>.avatar{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

          &>.frame{
            position: absolute;
          }
        }
        &>.authen{
          display: flex;
          column-gap: 0.2rem;
  
          &>p{
            @include text-14-bold;

            font-weight: 550;
  
            color: #ffff;
          }
          &>p:hover{
            color: $orange-600;
            cursor: pointer;
          }
        }
  
  
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .navbar-container{
    height: 70px;
    width: 1024px;
    
    background-color: $turquoise-600;

    display: flex;
    justify-content: center;
    &>.container{
      height: 70px;

      width: 100%;

      margin-right: 10px;
      display: flex;
      align-items: center;
  
      &>.logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        cursor: pointer;
      }
      &>.search{
        width: 65%;
        &>.row-search{
          height: 30px;
          background-color: #ffff;
          border-radius: 2rem;
  
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          padding: 0.3rem 0.5rem 0.3rem 1rem;
          &>input{
            outline: none;
            border: none;
  
            width: 93%;
            height: 2rem;
            
            @include text-16-regular;
            color: $gray-500;
          }
          &>svg{
            &>path{
              fill: $blue-1;
  
            }
  
          }
          &>svg:hover{
            cursor: pointer;
            &>path{
              fill: $orange-600;
  
            }
  
          }
  
        }
      }
      &>.cart{
        width: 12.5%;
        height: 100%;

        @include flex-al-ju;
        &>.box-cart{
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 2rem;
          width: 2rem;
          
          &>svg{
            &>path{
              fill: #ffff;
  
            }
  
          }
          &>svg:hover{
            cursor: pointer;
            &>path{
              fill: $orange-600;
  
            }
  
          }
  
          &>.quantity{
            position: absolute;
            top: 0%;
            left: 60%;
  
            height: 15px;
            width: 15px;
  
            display: flex;
            align-items: center;
            justify-content: center;
  
            background-color: #fff;
  
            border-radius: 50%;
  
            &>p{
              font-size: 12px;
              color: #EE0000;
              font-weight: 600;
            }
          }
        }
  
  
      }
      &>.authentication{
        width: 12.5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

  
        &>.avatar{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

          &>.frame{
            position: absolute;
          }
        }
        &>.authen{
          display: flex;
          column-gap: 0.2rem;
  
          &>p{
            @include text-14-bold;

            font-weight: 550;
  
            color: #ffff;
          }
          &>p:hover{
            color: $orange-600;
            cursor: pointer;
          }
        }
  
  
      }
    }
  }
}





