@import '../../../SCSS/mimins3';
@import '../../../SCSS/variables';

.list-filter-container{
    width: 100%;
    display: flex;
    justify-content: center;
    &>.container{
        width: 1024px;
        height: 5rem;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        &>.row-filter{

            display: flex;
            justify-content: flex-end;
            align-items: center;

            position: relative;



            &>.box-filter{

                display: flex;
                justify-content: center;
                align-items: center;
    
                height: 1rem;
                width: auto;
    
                padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    
                border-radius: 0.5rem;
                border: 1px solid #E8E8E8;
                

                margin-right: 2rem;
                &>p{
                    @include text-18-regular;
                }
                &>svg{
                    
                }

                
            }
            &>.dropdown{
                z-index: 1;
                position: absolute;
                top: 80%;
                right: 80%;
                &>.app-dropdown{
                    
                }
            }

            &>.box-filter:hover{
                border: 1px solid #B5B5B5;
                cursor: pointer;
            }
        }



    }
}