<div class="row-information">
    <div class="title">
        <p>Thông tin tài khoản</p>
    </div>
    <div class="information">
        <div class="row-login">
            <div class="title">
                <p>Tên</p>
            </div>
            <div class="infor">
                <p>Lê Văn Hải</p>
            </div>
        </div>
        <div class="row-login">
            <div class="title">
                <p>Email</p>
            </div>
            <div class="infor">
                <p >levanhai55627@gmail.com</p>
            </div>
           
        </div><div class="row-login">
            <div class="title">
                <p>Số điện thoại</p>
            </div>
            <div class="infor">
                <p>099876457367</p>
            </div>
           
        </div><div class="row-login">
            <div class="title">
                <p>Giới tính</p>
            </div>
            <div class="infor">
                <div class="select">
                    <div class="rectangle">
                        <div class="circle">

                        </div>
                    </div>
                    <p>Nam</p>
                </div>
                <div class="select">
                    <div class="rectangle">
                        <div class="circle">

                        </div>
                    </div>
                    <p>Nữ</p>
                </div>
            </div>
        </div><div class="row-login">
            <div class="title">
                <p>Ngày sinh</p>
            </div>
            <div class="infor">
                <p>12/23/2003</p>
            </div>
           
        </div>
    </div>
</div>