@import '../../../SCSS/mimins3';
@import '../../../SCSS/variables';

.container-popup{
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: 100vw;

    z-index: 100;

    overflow-y: hidden;

    background-color: rgba(0,0,0,0.45);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;

    &>.container{
        height: 80vh;
        width: 80vw;
        &>.main-popup-content{
            height: 100%;
            width: 100%;

            border-radius: 0.5rem;

            background-color: $gray-000;

            display: flex;
            flex-direction: column;
            align-items: center;


            &>.header-popup{
                height: 5.5rem;
                width: 100%;

                border-radius: 0.5rem 0.5rem 0 0 ;

                display: flex;
                align-items: flex-start;


                border-bottom: 1px solid $gray-300;

                background: linear-gradient(to right, $turquoise-600, $orange-600);

                
                &>.tiltle{
                    width: 90%;
                    height: 100%;
 
                    display: flex;
                    align-items: center;
                    padding: 0 0 0 1rem;
                    

                    &>p{
                        @include text-18-bold;
                        font-size: 1.8rem;
                        color: $gray-100;
                    }
                }
                &>.close{
                    height: 100%;
                    width: 10%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &>.button-close:hover{
                        background-color: $gray-300;
                        cursor: pointer;
                    }   
                    &>.button-close{
                        height: 3rem;
                        width: 3rem;

                        display: flex;
                        align-items: center;
                        justify-content: center;


                        border-radius: 50%;

                        background-color: $gray-200;
                    }
                }

            }

            &>.body-popup{
                width: 100%;
                height: calc(80vh - 5.5rem);
                display: flex;
                flex-direction: column;

                overflow-y: scroll;
                overflow-x: hidden;

                padding-bottom: 5rem;
                &>.row-description{
                    padding: 10px;
                    &>p{
                        @include text-20-bold;
                    }

                }
                &>.row-description{
                    padding: 10px;

                    @include flex-al-ju;
                    flex-direction: column;
                    row-gap: 3rem;
                    
                    &>.col-description{

                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        &>.row-title{
                            &>p{
                                @include text-20-bold;

                            }
                        }
                        &>.row-content{
                            &>p{
                                @include text-16-regular;
                            }
                        }
                        &>.row-image{

                            @include flex-al-ju;
                            &>img{
                                height: 40rem;
                                width: 80%;
                            }
                        }

                    }
                    
                }
            }
            

        }
    }
}