<div class="container-popup">
    <div class="container">
        <div class="main-popup-content">
            <div class="header-popup">
                <div class="tiltle">
                    <p>Thông số kỹ thuật</p>
                </div>
                <div class="close" (click)="onClickClosePopup()">
                    <div class="button-close">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 6L6 18M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                    </div>
                </div>
            </div>
            <div class="body-popup">
                <div class="row-description">
                    <p>OPPO Reno12 F 12GB là chiếc smartphone hiện đại, mang đến sự kết hợp hoàn hảo giữa thiết kế thanh lịch và hiệu năng mạnh mẽ. Với các tính năng tiên tiến và công nghệ sạc nhanh, Reno12 F hứa hẹn mang lại trải nghiệm tuyệt vời cho người dùng trong mọi hoạt động hằng ngày.</p>
                </div>
                <div class="row-description">
                    <div class="col-description" *ngFor="let item of [].constructor(5)">
                        <div class="row-title">
                            <p>Thiết kế thanh lịch, hiện đại</p>
                        </div>
                        <div class="row-content">
                            <p>Reno12 F ghi điểm với thiết kế siêu mỏng nhẹ, chỉ 187g, mang đến cảm giác cầm nắm thoải mái, dễ dàng mang theo bên mình mọi lúc mọi nơi. Hai tông màu xanh ô liu và cam hổ phách thời thượng, trẻ trung, thể hiện cá tính riêng của người dùng.</p>
                        </div>
                        <div class="row-image">
                            <img src="../../../assets/iphone15.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
