@import '../../../SCSS/mimins3';
@import '../../../SCSS/variables';

.drowdown-container{
    width: 31.5rem;
    height: auto;
    background-color: #ffff;
    border:  2px solid $gray-500;

    padding: 1rem;
    &>.row-filter{

        &>.title{
            height: 2rem;
            width: 100%;

            border-bottom: 1px solid $gray-300;
            &>p{
                @include text-18-bold;
            }
        }
        &>.body{
            padding: 10px 10px;

            display: flex;
            flex-wrap: wrap;

            row-gap: 10px;
            column-gap: 10px;
            &>.card:hover{
                border: 1px solid $gray-500;
            }
            &>.card{
                width: 150px;
                height: 40px;

                border: 1px solid $gray-200;

                @include flex-al-ju;
                &>p{
                    @include text-16-regular;
                }
            }
        }
    }
    &>.footer{
        padding: 2rem 0;

        @include flex-al-ju;
        &>.button-search:hover{
            background-color: $orange-600;
        }
        &>.button-search{
            height: 2rem;
            width: 6rem;

            @include flex-al-ju;

            border-radius: 3px;

            background-color: $turquoise-600;
            color: $gray-000;
        }
    }

}