<div class="container-popup">
    <div class="container">
        <div class="main-popup-content">
            <div class="header-popup">
                <div class="tiltle">
                    <p>Thanh toán thành công</p>
                </div>
                <div class="close">
                    <div class="button-close" >
                        <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 6L6 18M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                    </div>
                </div>
            </div>
            <div class="body-popup">
                <div class="row-payment-complete">
                    <div class="icon-complete">
                        <img src="../../../assets/icon-success.gif" alt="">
                            
                    </div>
                    <p>100.000<span>đ</span></p>
                </div>

            </div>
            <div class="footer-popup">
                <div class="row-button">
                    <div class="button" (click)="onClickNavigateHome()">
                        <p>Trở về trang chủ</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
