html{

    overflow: hidden;
    body{
        margin: 0;
        padding: 0;
    
        width: 100%;
        height: auto;

        overflow-x: hidden;
        overflow-y: hidden;

    }
}

p{
    font-family: sans-serif;
    margin: 0.2rem;
    padding: 0;
}