$background: #34465d;
$orange: #fa6032;
$blue: #23d2e2;
$color-cancel: #c4c4c4c4;
// $white: #fff;
$gray: gray;
$border: #ede9e9;
$lightgray: lightgray;
$gray-low-opacity: #c4c4c444;
$background-top-nav: #34465d;
$blue-gray: #515365;
$blue-dark: #34465d;

$white: #FFFFFF;

$orange-900: #FF8B00;
$orange-800: #FF9920;
$orange-700-brand: #FFA233;
$orange-700: #E96012;
$orange-600: #FFB052;
$orange-500: #FFBE70;
$orange-400: #FFCC8F;
$orange-300: #FFE3C2;
$orange-200: #FFF1E0;
$orange-100: #FFF8EF;
$orange-000: #FCF0E7;




$orange-transparent-48: rgba(255, 162, 51, 48%);
;
$orange-transparent-40: rgba(255, 162, 51, 40%);
;
$orange-transparent-32: rgba(255, 162, 51, 32%);
;
$orange-transparent-24: rgba(255, 162, 51, 24%);
;
$orange-transparent-16: rgba(255, 162, 51, 16%);
$orange-transparent-8: rgba(255, 162, 51, 8%);
;
$orange-700-transparent-85: rgba(255, 162, 51, 85%);

$gray-900: #28282B;
$gray-800: #494A4D;
$gray-700: #696A6C;
$gray-600: #7D7E81;
$gray-500: #A7A8AB;
$gray-400: #C5C6C9;
$gray-300: #E7E8EB;
$gray-200: #F1F2F5;
$gray-100: #F5F6FA;
$gray-000: #FFFFFF;
$gray-900-transparent-48: rgba(40, 40, 43, 48%);
$gray-900-transparent-40: rgba(40, 40, 43, 40%);
$gray-900-transparent-32: rgba(40, 40, 43, 32%);
$gray-900-transparent-24: rgba(40, 40, 43, 24%);
$gray-900-transparent-16: rgba(40, 40, 43, 16%);
$gray-900-transparent-8: rgba(40, 40, 43, 8%);
$gray-100-transparent-85: rgba(245, 246, 250, 85%);
$gray-100-transparent-50: rgba(245, 246, 250, 50%);
$gray-100-transparent-40: rgba(245, 246, 250, 40%);
$gray-000-transparent-40: rgba(255, 255, 255, 40%);

$span-gray: #999;

$green-100: #BFE8C6;
$green-200: #95D9A1;
$green-300: #65CB7A;
$green-400: #38C05D;
$green-500: #00B43D;
$green-600: #00A534;
$green-700: #009328;
$green-800: #00821B;
$green-900: #006205;


$blue-100-brand: #EBF4FA;
$blue-200-brand: #CCE3F1;
$blue-300-brand: #B3D4EB;
$blue-400-brand: #99C6E4;
$blue-500-brand: #66AAD6;
$blue-600-brand: #338DC9;
$blue-700-brand: #0071BB;
$blue-800-brand: #005C98;
$blue-900-brand: #003C63;

$red-900: #BB0014;
$red-700: #D70028;
$red-600: #E8002E;
$red-500: #F7002E;
$red-400: #F2244A;
$red-200: #F18C96;
$red-100: #FFC5D0;
$red-000: #FFE8EC;


$blue-900: #2343A7;
$blue-800: #2862C6;
$blue-700: #2A74D9;
$blue-600: #2D86EC;
$blue-500: #2D94FB;
$blue-400: #46A4FD;
$blue-300: #66B4FD;
$blue-200: #91C9FE;
$blue-100: #BCDEFE;
$blue-000: #E3ECF5;
$blue-percent-48: rgba(0, 113, 187, 0.48);
$blue-percent-40: rgba(0, 113, 187, 0.4);
$blue-percent-32: rgba(0, 113, 187, 0.32);
$blue-percent-24: rgba(0, 113, 187, 0.24);
$blue-percent-16: rgba(0, 113, 187, 0.16);
$blue-percent-8: rgba(0, 113, 187, 0.08);

$blue-brand-700-brand: #0071BB;


$background-brand-2: linear-gradient(135deg, #FFA233 15.44%, #0071BB 84.01%);

$blue-1: #79CDCD;

//Ngọc Lam
$turquoise-100: #B2EBF2;
$turquoise-200: #80DEEA;
$turquoise-300: #4DD0E1;
$turquoise-400: #26C6DA;
$turquoise-500: #00BCD4;
$turquoise-600: #00ACC1;
$turquoise-700: #0097A7;
$turquoise-800: #00838F;
$turquoise-900: #006064;
